body {
   
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Page */
.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
.header {
    width: 100%;
    height: 70px;
    background-color: #111;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


/* Nav */
.nav {
    display: flex;
    justify-content: center;
    height: 100%;
}

.nav__link {
    display: flex;
    align-items: center;
    padding: 0 20px;

    color: #fff;
    text-decoration: none;
}

.nav__link:hover {
    text-decoration: underline;
}

/* Section */
.layer1 {
    height: auto;    /* 450px */
    width: 100%; /* Ширина слоя 340px */
    padding: 10px; /* Поля вокруг текста */
    background: #fc0; /* Цвет фона */
    border: 5px dashed black;/* Параметры границы */  
    text-align: center;
    float: left;
}

.img_home {
    height: 450px;
    width: 100%;
}

.video {
    height: auto;
    width: 100%;
    max-width: 700px;
    max-height: 450px;
}

.video_2 {
    max-height: 230px; 
    max-width: 400px;
    height: auto;
    width: 100%;
    float: right;
}

.video_3 {
    max-height: 320px; 
    max-width: 500px;
    height: auto;
    width: 100%;
    float: right;
}

.img {
    width: 100%;
    height: auto;
    max-width: 500px;
    max-height: 395px;
}

.section__title {
    padding-top: 30px;
}

.section {
    padding: 20px 15px;
    text-align: center;
}

.section_1 {
    text-align: center;
}


.section p {
    margin: 0px 0px 20px 0px;
    text-align: left;
    font-family: 'Comfortaa', cursive;
}


.section--gray {
    background-color: #fff;
}

.section_section--gray {
    background-color: #fff;
    height: calc(100vh - 70px);
    text-align: center;
}


.footer {
    margin-top: auto;
    background-color:#fff ;
}

footer p {
    text-align: center;
}

.collapsible {
    background-color: #f8f8f8;
    color: #111;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    font-family: 'Comfortaa', cursive;
}

.hollow {
    margin-top: 200px; /* Отступ сверху */
    margin-bottom: 200px; /* Отступ снизу */
}

.section_yslugi {
    height: calc(100vh - 70px);
    padding: 200px 15px;
    text-align: center;
    margin-top: auto;
}

.footer_text {
    float: left;
}

.footer_text1 {
    float: right;
}

.footer_text2 {
    margin-left: 45%;
    margin-top: 12px;
    width: 100px;
    float: center;
}

.p1 {
    text-align: left;
    float: center;
}

.p2 {
    text-align: left;
}

.p3 {
    text-align: left;
    color: #140b92;
    font-size: 25px;
}

.img_1 {
    float: right; /* Выравнивание по правому краю  */ 
    margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
}

.img_2 {
    float: right;
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 400px;
}

.img_3 {
    max-height: 350px; 
    max-width: 600px;
    float: right;
    width: 100%;
    height: auto;
    margin: 7px 0 7px 7px;
}

.card {
    border: 1px solid #000; /* Параметры границы */
    padding: 0 10px; /* Поля вокруг картинки */
    margin: 5px 0 5px 10px; /* Отступы */
    max-width: 800px;
    width: 100%;
    height: auto;
    max-height: 1209px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 5px 10px #ccc;
    border-radius: 10px;
    float: right;
}

.card-photo {
    width: 100%;
    height: auto;
    max-width: 430px;
    max-height: 665px;
    margin-left: auto;
    float: right;
}

.card-title {
    text-align: left;
    font-size: 25px;
    color: #140b92;
    margin-top: 10px;
}

.card-text {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-subtitle {
    font-size: 20px;
}

hr {
    border: none; /* Убираем границу */
    background-color: red; /* Цвет линии */
    color: red; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
}

